.main-container {
    background-color: #f5f4f1;
}
.navbar {
    font-family: "Poppins", sans-serif;
}

.bg-brown {
    background-color: #917a5a;
}
#main-navbar {
    color: #917a5a;
}
#light-navbar {
    color: #f8f2e9e6;
}
#light-navbar:hover {
    color: #9b8c76;
    transition: 0.3s;
}
#navbar-button {
    font-size: 14px;
    background-color: #917a5a;
    color: #f8f2e9e6;
}
#navbar-button:hover {
    background-color: #9b8c76d5;
    transition: 0.3s;
}
#playfair-d {
    font-family: "Playfair Display", serif;
    font-size: 56px;
    line-height: 60px;
}
.fa-solid {
    color: #9b8c76;
}
.scrolling-active {
    background-color: rgba(25, 17, 5, 0.8);
    transition: 0.5s;
}
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* hero full viewport height */
    overflow: hidden;
}
.hero .container {
    margin-top: 150px;
}
#bgVideo {
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-overlay{
    position: absolute;
    inset: 0;
    background: rgba(25, 18, 20, 0.75);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}
#col-features {
    width: fit-content;
}

#hero-btn-2:hover {
    background-color: #917a5a;
    border: none;
    border-color: #917a5a;
}
#stat-h2-size {
    font-size: 14.5px;
    font-family: "Poppins", sans-serif;
}
.tentang {
    padding-top: 60px;
}
#img-col {
    width: fit-content;
}
.about-header h2 {
    font-family: "Playfair Display", serif;
    font-size: 35px;
    color: #32220b;
}
.about-header p {
    font-family: "Poppins", sans-serif;
    color: #917a5a;
}
.color-47 {
    color: #474747
}
.list-header {
    font-size: 15px;
    font-family: "Playfair Display", serif;
    margin-bottom: 4px;
    color: #32220b;
}
.list-p {
    font-size: 13px;
    margin: 0;
    color: #474747
}
.about-icon {
    padding: 8px 10px 8px 10px;
    background-color: #ebe7e0;
    color: #917a5a;
    width: 40px;
    height: 40px;
}
#card-col {
    width: fit-content;
}
.paket-title h2 {
    font-size: 35px;
    font-family: "Playfair Display", serif;
}
#paket-btn {
    background-color: #917a5a;
    color: #ffffff;
}
#paket-btn i {
    color: #ffffff;
}
.card-title {
    color: #32220b;
    font-size: 25px;
}
.card-text {
    color: #474747;
    font-size: 18px;
}
#paket-card-hemat:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F2E9D8;
    transition: 0.3s;
    scale: 1.04;
}
#paket-card-silver:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #E4DED5;
    transition: 0.3s;
    scale: 1.04;
}
#paket-card-vip:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F8ECD3;
    transition: 0.3s;
    scale: 1.04;
}
.card-price {
    color: #917a5a;
    font-size: 30px;
    margin-bottom: 12px;
}
.card-list {
    list-style: none;
    padding-left: 10px;
    padding-top: 8px;
}
.card-list i {
    color: #917a5a;
}
.card-text2 {
    margin-bottom: 40px;
}
.tour-leader .col {
    width: fit-content;
}