.navbar {
    font-family: "Poppins", sans-serif;
}

#main-navbar {
    color: #9b8c76;
}
#light-navbar {
    color: #f8f2e9e6;
}
#light-navbar:hover {
    color: #9b8c76;
    transition: 0.3s;
}
#navbar-button {
    font-size: 14px;
    background-color: #917a5a;
    color: #f8f2e9e6;
}
#navbar-button:hover {
    background-color: #9b8c76d5;
    transition: 0.3s;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* hero full viewport height */
    overflow: hidden;
}

#bgVideo {
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-overlay{
    position: absolute;
    inset: 0;
    background: rgba(25, 18, 20, 0.75);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
}

